{% extends 'base.html' %}
{% load static }

{% block content %}





<div class="content container">
    <div class="row">
        <div class="col-md-12">
          <h1 class='text-center'>  <strong>Search By Category</strong>  </h1>

<table style="width:95%;">
  <tbody>
    <tr>
      <td style="width: 50%;">  <a href=" http://127.0.0.1:8000/search/?category=comics  ">  <h2>Comics</h2> </td>
      <br>
      <br>
      <br>
      <td style="width:50%;"> <a href=" http://127.0.0.1:8000/search/?category=music  "> <h2> Music</h2> </td>
      <br>
      <br>
      <br>
      <td style="width:50%"><a href=" http://127.0.0.1:8000/search/?category=food  "> <h2>Food  </h2> </td>

    </tr>
    <tr>
      <td style="width:50%"><a href=" http://127.0.0.1:8000/search/?category=cities  "> <h2>Cities</h2> </td>
      <td style="width:50%"><a href=" http://127.0.0.1:8000/search/?category=Photography  "> <h2>Photography</h2> </td>
      <td style="width:50%"><a href=" http://127.0.0.1:8000/search/?category=Oceans  "> <h2> Oceans </h2> </td>
    </tr>
  </tbody>
</table>

        </div>
    </div>
</div>
{% endblock %}
