{% extends 'base.html' %}
{% load static }

{% block content %}





<div class="content container">
    <div class="row">
        <div class="col-md-12">
          <h1 class='text-center'>  <strong>Search by category</strong>  </h1>

<table style="width:95%;">
  <tbody>
    <tr>
      <td style="width: 50%;"> <h2>Comics</h2> </td>
      <br>
      <br>
      <br>
      <td style="width:50%;">  <h2> Music</h2> </td>
      <br>
      <br>
      <br>
      <td> <h2>Food  </h2> </td>

    </tr>
    <tr>
      <td> <h2>Cities</h2> </td>
      <td> <h2>Photography</h2> </td>
      <td> <h2> Oceans </h2> </td>
    </tr>
  </tbody>
</table>

        </div>
    </div>
</div>
{% endblock %}
